<nav>
    <div class="site-title">
      <a href="/"><h1>L337 Playlists</h1></a>
      <p>Create and share your favorite playlists</p>
    </div>
    <ul class="main-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/playlist">Manage Playlist</a></li>
      <!-- <li><a href="/add">Add New Song</a></li> -->
    </ul>
  </nav>