<nav>
    <div class="site-title">
      <a href="/"><h1>Music App</h1></a>
      <p>Create and share your favorite playlist</p>
    </div>
    <ul class="main-menu">
      <li><a href="/">Your Playlist</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/music/add">Add New Song</a></li>
    </ul>
  </nav>