<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
        
          <div class="add-song">
            <form>
              <label for="title">Song title:</label>
              <input type="text" id="title" name="title" required>
              <label for="artist">Song artist:</label>
              <input type="text" id="artist" name="artist" required>
              <label for="year">Song Year:</label>
              <input type="number" id="year" name="year" required>
              <button>Submit</button>
            </form>
          </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>