<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="content multi-col">
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
        <div>
            <h3>Cool Music Name</h3>
            <p>Great Artist</p>
            <p>2000</p>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>