<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="content">
        <div>
            <h3>Musica</h3>
            <p>Artista</p>
            <p>Ano</p>
        </div>
        <div>
            <h3>Musica</h3>
            <p>Artista</p>
            <p>Ano</p>
        </div>
        <div>
            <h3>Musica</h3>
            <p>Artista</p>
            <p>Ano</p>
        </div>
        <div>
            <h3>Musica</h3>
            <p>Artista</p>
            <p>Ano</p>
        </div>
        <div>
            <h3>Musica</h3>
            <p>Artista</p>
            <p>Ano</p>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>