<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="search-content">
        <div>
            <h4>Youtube search</h4>
            <form action="/search" method="GET">
                <input type="text" id="ytsearchform" name="qr" placeholder="Search here" required>
                <submit type="submit"></submit>
            </form>
        </div>
        <div class="search-result">

        </div>
    </div>
    <script src=/js/ytsearch.js type="text/javascript"></script>
    <%- include("./partials/footer.ejs") %>
</body>
</html>